[submodule "scripts/transformer-ocds"]
	path = scripts/transformer-ocds
	url = http://gitlab.rindecuentas.org/equipo-qqw/transformer-ocds.git
[submodule "scripts/stream2db"]
	path = scripts/stream2db
	url = http://gitlab.rindecuentas.org/equipo-qqw/stream2db.git
[submodule "scripts/cargografias-transformer"]
	path = scripts/cargografias-transformer
	url = http://gitlab.rindecuentas.org/equipo-qqw/cargografias-transformer.git
[submodule "scripts/mongo-indexer"]
	path = scripts/mongo-indexer
	url = http://gitlab.rindecuentas.org/equipo-qqw/mongo-indexer.git
[submodule "scripts/ocds-unique"]
	path = scripts/ocds-unique
	url = http://gitlab.rindecuentas.org/equipo-qqw/ocds-unique.git
[submodule "scripts/record-compiler"]
	path = scripts/record-compiler
	url = http://gitlab.rindecuentas.org/equipo-qqw/record-compiler.git
[submodule "scripts/ocds-entity-extract"]
	path = scripts/ocds-entity-extract
	url = http://gitlab.rindecuentas.org/equipo-qqw/ocds-entity-extract.git
[submodule "scripts/mongo-switcher"]
	path = scripts/mongo-switcher
	url = http://gitlab.rindecuentas.org/equipo-qqw/mongo-switcher.git
[submodule "scripts/record-decompiler"]
	path = scripts/record-decompiler
	url = http://gitlab.rindecuentas.org/equipo-qqw/record-decompiler.git
[submodule "scripts/ciq-transformer"]
	path = scripts/ciq-transformer
	url = http://gitlab.rindecuentas.org/equipo-qqw/ciq-transformer.git
[submodule "scripts/latam-offshore-transformer"]
	path = scripts/latam-offshore-transformer
	url = http://gitlab.rindecuentas.org/equipo-qqw/latam-offshore-transformer.git
[submodule "scripts/rupc-transformer"]
	path = scripts/rupc-transformer
	url = http://gitlab.rindecuentas.org/equipo-qqw/rupc-transformer.git
