[submodule "scripts/transformer-ocds"]
	path = scripts/transformer-ocds
	url = http://gitlab.rindecuentas.org/equipo-qqw/transformer-ocds.git
[submodule "scripts/stream2db"]
	path = scripts/stream2db
	url = http://gitlab.rindecuentas.org/equipo-qqw/stream2db.git
[submodule "scripts/cargografias-transformer"]
	path = scripts/cargografias-transformer
	url = http://gitlab.rindecuentas.org/equipo-qqw/cargografias-transformer.git
[submodule "scripts/mongo-indexer"]
	path = scripts/mongo-indexer
	url = http://gitlab.rindecuentas.org/equipo-qqw/mongo-indexer.git
[submodule "scripts/ocds-unique"]
	path = scripts/ocds-unique
	url = http://gitlab.rindecuentas.org/equipo-qqw/ocds-unique
